<div class='container'>
  <div class="row mt-3"><!--本文とヘッダーとの間を開ける-->
    <h1 class="mb-3 px-3 mx-auto">サイト説明</h1><!--中央寄せ-->
  </div>
  <div class="px-3 mx-auto"> 
    <div class="text-center">
      <p>このサイトは自分のがんばりを自分で確認し</p>
      <p>自分自身を褒めたり</p>
      <p>ほかの方のがんばっていることや、がんばりたいことを知ることができます。</p>
      <p>また、同じ内容をがんばりたい人へ☆や、コメントを使い、コミュニケーションを行うことができます。<p>
      <p>些細なことと遠慮せず、どんどんリストを作成し、達成していってください！</p>
      <p>ぜひ、自分で自分を褒め、ほかの人も褒めてみてください！</p>
      <p>なお、不特定多数の方が閲覧されます</p>
      <div class="font-weight-bold text-danger">※個人を特定されるような情報や誹謗中傷は記載しないよう、御心掛けください。</div><br>
      <h4 class="font-weight-bold">共により良い環境を構築していきましょう！</h4>
    </div>
  </div>
</div>