<div class="container col-12">
  <div class="row mt-1">
    <div class="col-md-8 offset-md-2">
    <h2>みんなのがんばった！</h2>
    <%= link_to '新着順', ganbatta_attempts_path(latest: "true") %>
    |
    <%= link_to '古い順', ganbatta_attempts_path(old: "true") %>
      <table class="table table-hover table-inveres">
        <thead class="table-active">
            <tr>
              <th>日付</th>
              <th>がんばったリスト！</th>
              <th>タグ</th>
              <th>投稿者</th>
              <th></th>
              <th></th>
            </tr>
        </thead>
        <%= render 'public/attempts/attempt', user: current_user, attempt: @attempts %>
      </table>
      <%= paginate @attempts %>
    </div>
  </div>
</div>