<div class="container">
  <div class="row mt-3"><!--本文とヘッダーとの間を開ける-->
    <h1 class="mb-3 px-3 mx-auto">お気に入り一覧！！</h1>
      <table class="table">
        <thead>
          <tr>
            <th>内容</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
           <td><%= link_to favorite.attempt.content, attempts_path %></td>
           <td></td>
          </tr>
        </tbody>
      <% end %>
      </table>
  </div>
</div>