<p id="notice"></p>
<div class="container col-8">
    <h3>取り組みリスト確認</h3>
       <h7>登録情報<h7>
            <table class="table">
               <tbody>
                <tr>
                    <td><%= @action.created_at.strftime('%Y/%m/%d') %></td>
                    <td>
                        <%= @action.content %>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
</div>