<div class="container border border-white contents-area bg-white" >
  <div class="row mt-5 mb-5">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <h3 class="text-center"><strong class="border-bottom border-dark">利用者管理の一覧</strong></h3>
      <table class="table table-border contents-area mt-5">
        <thead class="table-active">
          <tr>
            <th>ID</th>
            <th>アカウント名</th>
            <th>プロフィール</th>
            <th colspan="6"></th>
          </tr> 
        </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.id %></td>
                <td><%= user.name %></td>
                <td><%= link_to user.profile,admin_user_path(user.id) %></td>
                <td colspan="3"></td>
                <td>
                   <%= link_to "削除", admin_user_path(user.id), class: "btn btn-danger", method: :delete, "data-confirm" => "本当にアカウントを削除しますか?" %>
                </td>
              </tr>
            <% end %>
          </tbody>
      </table>
    </div>
  </div>
</div>


