<div class="container border border-white contents-area bg-white" >
  <div class="row mt-5 mb-5">
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <h3 class="text-center"><strong class="border-bottom border-dark">プロフィール</strong></h3>
    </div>
  </div>
</div>